* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
}

header {
    background-color: #b19e95;
    width: auto;
    height: 150px;
    display: flex;
    justify-content: center;

}

.logo {
    height: 120px;
    width: 200px;
}

.container {
    text-align: center;
}

.statsRow {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-bottom: 50px;
}

.inputForm {
    width: 500px;
    height:fit-content;
    padding: 20px;
    margin: 50px auto;
    text-align: center;
    border: 2px solid #b19e95;
    border-radius: 5px;
}

.statsContainer {
    width: fit-content;
    height:fit-content;
    padding: 20px;
    margin: 50px auto;
    text-align: center;
    border: 2px solid #b19e95;
    border-radius: 5px;
}

h2 {
    margin-bottom: 50px;
}

.chestContainer {
    width: fit-content;
    height:fit-content;
    padding: 20px;
    margin: 50px auto;
    text-align: center;
    border: 2px solid #b19e95;
    border-radius: 5px;
}

.chests {
    display: flex;
    justify-content: center;
    gap: 20px;
}

input[type="text"]{
    margin-top: 10px;
    width: 200px;
    padding: 5px 0 5px 5px;
}

input[type="number"] {
    padding: 5px;
    font-size: 14px;
}

input[type="submit"] {
    padding: 10px 15px;
    cursor:pointer;
    color: white;
    background-color: #b19e95;
    border: none;
    border-radius: 7px;
}

textarea {
    resize: none;
}

footer {
    background-color: #b19e95;
    width: 100%;
    height: 150px;
    text-align: center;
    color: white;
    margin-top: auto;
}

footer > p {
    padding: 70px;
}